{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% block content %}

    <div class="jumbotron">
        <h2 class="display-3 text-center">Welcome To News Article</h2>
        <h5 class="text-center">Get news from different news sources</h5>
    </div>
    <!--General news-->
    <h2 class="bg-info">General</h2>
    <div class="row">
        {{ macro.displayNewsSourcesList(general) }} 
    </div> 

      <!--Health news-->
    <h2 class="bg-info">Health</h2>
    <div class="row">
        {{ macro.displayNewsSourcesList(health) }} 
    </div> 

    <!--Sport news-->
    <h2 class="bg-info">Sports</h2>
    <div class="row">
        {{ macro.displayNewsSourcesList(sports) }} 
    </div>

    <!--Business news-->
    <h2 class="bg-info">Business</h2>
    <div class="row">
        {{ macro.displayNewsSourcesList(business) }} 
    </div>

    <!--Entertainment news-->
    <!-- <div class="row">
        {{ macro.displayNewsSourcesList(entertainment) }} 
    </div> -->

    <!--Technology news-->
    <h2 class="bg-info">Technology</h2>
    <div class="row">
        {{ macro.displayNewsSourcesList(technology) }} 
    </div>

    <!--science news-->
    <h2 class="bg-info">Science</h2>
    <div class="row">
        {{ macro.displayNewsSourcesList(science) }} 
    </div>
    
{% endblock %}